#hints {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#test {
    margin: 10px;
}

body {
    padding-top: 40px;
}

#preberiObstojeciEHR {
    margin-top: 10px;
}

#graph {
    width: auto;
    padding-top: 0;
}

